.header-section {
    text-align: center;
    top:20px;
    padding: 20px 30px 20px 30px;
    font-size: 30px;
    letter-spacing: 1.23;
    font-weight: 700;
    color: #333;
}

.text-centre{
    text-align: center;
    display: block;
    justify-content: space-between;
}

.book-detail-container{
    padding: 0px 50px 10px 40px;
}

.span-stack{
    float: right;
    clear: right;
  }

.detail-action-button{
    text-align: right;
    margin-right: 50px;
    position: relative;
    top: -20px;
}

.m-right-5{
    margin-right:5px !important;
}
.m-left-30{
    margin-left: 30px;
}

.text-field-wrapper{
    text-align: center;
}
.addaccount-option {
    color: #f51aac !important;
  }
  
.cursor-pointer{
    cursor: pointer;
}
.edit-action-button-wrapper{
    text-align: center;
    margin-top: 10px;
    position: relative;
}

.book-detail-header{
    text-align: center;
    top:10px;
    padding: 20px 30px 20px 30px;
    font-size: 15px;
    letter-spacing: 1.23;
    font-weight: 700;
    color: #333;
}
.validation-summary {
    color: red;
    margin-top: 15px;
    font-size: 15px;
    font-family: Roboto;
    line-height: 1.2;
    text-align: center;
  }

.toaster-color{
    color: #333; 
}










