.header-section {
    text-align: center;
    top:20px;
    padding: 20px 30px 20px 30px;
    font-size: 30px;
    letter-spacing: 1.23;
    font-weight: 700;
    color: #333;
}

.text-centre{
    text-align: center;
    display: block;
    justify-content: space-between;
}

.book-detail-container{
    padding: 0px 50px 10px 40px;
}

.span-stack{
    float: right;
    clear: right;
  }














